<div class="container">
    <h1>Create New User</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="nameU">Name:</label>
            <input 
                [formControl]="nameU"
                id="nameU" 
                type="text" 
                class="form-control">
            <div *ngIf="nameU.touched && nameU.invalid" class="alert alert-danger">
                Name is required.
            </div>
        </div>
  
        <div class="form-group">
            <label for="lastName">LastName</label>
            <input 
                formControlName="lastName"
                id="lastName" 
                type="text" 
                class="form-control">
        </div>

        <div class="form-group">
            <label for="rolSel">Rol:</label>
            <select name="rolSel"  [(ngModel)]="selectedRoles" [formControl]="selectedRol">
                <option [value]="item" *ngFor="let item of listRol">{{item.Name}}</option>
                </select>
            <div *ngIf="selectedRol.touched && selectedRol.invalid" class="alert alert-danger">
                Rol is required.
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>